.about-us-container,
.about-page,
.menu-page {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlisfgZXfp8VsCT5qpvwfq9pZqTQlbxkehvw&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.about-us-container {
  background-color: #f9f9f9;
  flex-direction: column;
  align-items: center;
}

.about-us-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-us-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.header {
  color: #333;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.homepage {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

.about {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

.carousel-image {
  width: 20px;
  height: 600px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-page h1 {
  color: #333;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item-card-container {
  width: 300px;
  margin: 10px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 10px;
}

.navbar-list li:last-child {
  margin-right: 0;
}

.navbar-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-list a:hover {
  color: #e7a710;
}

